In [1]:
import pandas as pd

In [2]:
df = pd.read_csv (r'export_dataframe.csv')

In [3]:
df.head()

           Reviewer                                             Review
0  arcticantipodean  PIAC lost my baggage on January 2, 2020 on PK7...
1            Haseeb  I was very happy when I planned my vacation an...
2            Mina S  This is the worst airline in the world. It too...
3              Sean  One of the worst customer service I heard a cr...
4             Hamza  Dangerous flight, asked for blanket was told t...

In [4]:
df.shape

(413, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Reviewer  413 non-null    object
 1   Review    413 non-null    object
dtypes: object(2)
memory usage: 6.6+ KB

In [6]:
df.describe()

           Reviewer                                             Review
count           413                                                413
unique          379                                                411
top     flyfisher66  PIA has greatly improved its service standards...
freq              5                                                  3

In [7]:
import re
import string

# this function converts to lower-case, removes square brackets, removes numbers and punctuation
def text_clean_1(text):
    text = text.lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '' ,text)
    text=re.sub('\w*\d\w*','',text)
    return text

cleaned1=lambda x: text_clean_1(x)

In [8]:
df['clean_Review']=pd.DataFrame(df.Review.apply(cleaned1))
df.head(10)

,Reviewer,Review,clean_Review
0,arcticantipodean,"PIAC lost my baggage on January 2, 2020 on PK7...",piac lost my baggage on january on lhrisbku...
1,Haseeb,I was very happy when I planned my vacation an...,i was very happy when i planned my vacation an...
2,Mina S,This is the worst airline in the world. It too...,this is the worst airline in the world it took...
3,Sean,One of the worst customer service I heard a cr...,one of the worst customer service i heard a cr...
4,Hamza,"Dangerous flight, asked for blanket was told t...",dangerous flight asked for blanket was told th...
5,Ahad M,This was the worst experience with an airline ...,this was the worst experience with an airline ...
6,Assassin S,Worst airline. i hope government ban this stup...,worst airline i hope government ban this stupi...
7,Bismah Saif,"Reasonable fare, good in flight service, landi...",reasonable fare good in flight service landing...
8,Dua,If you wanna alive so dont travel in PIA fligh...,if you wanna alive so dont travel in pia fligh...
9,Zan H,hi every one just want to let you all know I b...,hi every one just want to let you all know i b...

In [9]:
# applying second round of cleaning
def text_clean_2(text):
    text = re.sub('[""_]','',text)
    text = re.sub('\n','',text)
    return text
cleaned2=lambda x: text_clean_2(x)

In [10]:
df['clean_2_Review']=pd.DataFrame(df.clean_Review.apply(cleaned2))
df.head(10)

,Reviewer,Review,clean_Review,clean_2_Review
0,arcticantipodean,"PIAC lost my baggage on January 2, 2020 on PK7...",piac lost my baggage on january on lhrisbku...,piac lost my baggage on january on lhrisbku...
1,Haseeb,I was very happy when I planned my vacation an...,i was very happy when i planned my vacation an...,i was very happy when i planned my vacation an...
2,Mina S,This is the worst airline in the world. It too...,this is the worst airline in the world it took...,this is the worst airline in the world it took...
3,Sean,One of the worst customer service I heard a cr...,one of the worst customer service i heard a cr...,one of the worst customer service i heard a cr...
4,Hamza,"Dangerous flight, asked for blanket was told t...",dangerous flight asked for blanket was told th...,dangerous flight asked for blanket was told th...
5,Ahad M,This was the worst experience with an airline ...,this was the worst experience with an airline ...,this was the worst experience with an airline ...
6,Assassin S,Worst airline. i hope government ban this stup...,worst airline i hope government ban this stupi...,worst airline i hope government ban this stupi...
7,Bismah Saif,"Reasonable fare, good in flight service, landi...",reasonable fare good in flight service landing...,reasonable fare good in flight service landing...
8,Dua,If you wanna alive so dont travel in PIA fligh...,if you wanna alive so dont travel in pia fligh...,if you wanna alive so dont travel in pia fligh...
9,Zan H,hi every one just want to let you all know I b...,hi every one just want to let you all know i b...,hi every one just want to let you all know i b...

In [15]:
from textblob import TextBlob
import nltk
def text_step_3(text):
    obj=TextBlob(text)
    sentiment=obj.sentiment.polarity
    return sentiment
Step3=lambda x:text_step_3(x)

In [16]:
df['sentiments_value']=pd.DataFrame(df.clean_2_Review.apply(Step3))
df.head(10)

,Reviewer,Review,clean_Review,clean_2_Review,sentiments_value
0,arcticantipodean,"PIAC lost my baggage on January 2, 2020 on PK7...",piac lost my baggage on january on lhrisbku...,piac lost my baggage on january on lhrisbku...,-0.212500
1,Haseeb,I was very happy when I planned my vacation an...,i was very happy when i planned my vacation an...,i was very happy when i planned my vacation an...,0.137684
2,Mina S,This is the worst airline in the world. It too...,this is the worst airline in the world it took...,this is the worst airline in the world it took...,-0.375000
3,Sean,One of the worst customer service I heard a cr...,one of the worst customer service i heard a cr...,one of the worst customer service i heard a cr...,-0.274286
4,Hamza,"Dangerous flight, asked for blanket was told t...",dangerous flight asked for blanket was told th...,dangerous flight asked for blanket was told th...,0.000000
5,Ahad M,This was the worst experience with an airline ...,this was the worst experience with an airline ...,this was the worst experience with an airline ...,-0.283205
6,Assassin S,Worst airline. i hope government ban this stup...,worst airline i hope government ban this stupi...,worst airline i hope government ban this stupi...,-0.333333
7,Bismah Saif,"Reasonable fare, good in flight service, landi...",reasonable fare good in flight service landing...,reasonable fare good in flight service landing...,0.500000
8,Dua,If you wanna alive so dont travel in PIA fligh...,if you wanna alive so dont travel in pia fligh...,if you wanna alive so dont travel in pia fligh...,0.077778
9,Zan H,hi every one just want to let you all know I b...,hi every one just want to let you all know i b...,hi every one just want to let you all know i b...,0.171991

In [17]:
def text_step_4(values):
    if values==0:
        result='neutral'
    elif values >0:
        result='positive'
    else:
        result='negative'
    return result
Step4=lambda x:text_step_4(x)

In [18]:
df['sentiments']=pd.DataFrame(df.sentiments_value.apply(Step4))
df.head(10)

,Reviewer,Review,clean_Review,clean_2_Review,sentiments_value,sentiments
0,arcticantipodean,"PIAC lost my baggage on January 2, 2020 on PK7...",piac lost my baggage on january on lhrisbku...,piac lost my baggage on january on lhrisbku...,-0.212500,negative
1,Haseeb,I was very happy when I planned my vacation an...,i was very happy when i planned my vacation an...,i was very happy when i planned my vacation an...,0.137684,positive
2,Mina S,This is the worst airline in the world. It too...,this is the worst airline in the world it took...,this is the worst airline in the world it took...,-0.375000,negative
3,Sean,One of the worst customer service I heard a cr...,one of the worst customer service i heard a cr...,one of the worst customer service i heard a cr...,-0.274286,negative
4,Hamza,"Dangerous flight, asked for blanket was told t...",dangerous flight asked for blanket was told th...,dangerous flight asked for blanket was told th...,0.000000,neutral
5,Ahad M,This was the worst experience with an airline ...,this was the worst experience with an airline ...,this was the worst experience with an airline ...,-0.283205,negative
6,Assassin S,Worst airline. i hope government ban this stup...,worst airline i hope government ban this stupi...,worst airline i hope government ban this stupi...,-0.333333,negative
7,Bismah Saif,"Reasonable fare, good in flight service, landi...",reasonable fare good in flight service landing...,reasonable fare good in flight service landing...,0.500000,positive
8,Dua,If you wanna alive so dont travel in PIA fligh...,if you wanna alive so dont travel in pia fligh...,if you wanna alive so dont travel in pia fligh...,0.077778,positive
9,Zan H,hi every one just want to let you all know I b...,hi every one just want to let you all know i b...,hi every one just want to let you all know i b...,0.171991,positive

In [20]:
# Result
df[['Reviewer','Review','sentiments']]

,Reviewer,Review,sentiments
0,arcticantipodean,"PIAC lost my baggage on January 2, 2020 on PK7...",negative
1,Haseeb,I was very happy when I planned my vacation an...,positive
2,Mina S,This is the worst airline in the world. It too...,negative
3,Sean,One of the worst customer service I heard a cr...,negative
4,Hamza,"Dangerous flight, asked for blanket was told t...",neutral
...,...,...,...
408,Asim K,Karachi airport facilities were good . PIA is ...,negative
409,Ryan A,For Isb to Kchi its still the best airline you...,negative
410,Bushra,I booked this flight Dubai to Islamabad in Feb...,negative
411,Israr S,very poor standards from check in to arrival. ...,positive
412,Safenoble,A very full aircraft with many children and ba...,positive